<?xml version="1.0"?>
<launch>

<!-- launches S2 nodes -->


    <!-- MAVROS, PX4 SITL and Gazebo -->
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="/dev/pixhawk:921600"/>
    </include>

    <!-- Realsense launch -->
   <include file="$(find realsense2_camera)/launch/rs_camera.launch">
       <arg name="filters" value="pointcloud,decimation"/>
       <arg name="allow_no_texture_points" value="true"/>
       <arg name="clip_distance" value="5.0"/>

   </include>


    <!-- rosserial-->
    <node name="serial_node" pkg="rosserial_arduino" type="serial_node.py" output="screen">
	<param name="port"              type="string"               value="/dev/arduino"/>
    	<param name="baud"              type="int"                  value="57600"/>
    </node>


    <!-- debug vect-->
    <node name="debug_vector" pkg="crone" type="debug_vector" output="screen"/> 


   <arg name="tf_broadcaster_delay" default="8.0" />
   <arg name="tf_listener_delay" default="10.0" /> 
   <arg name="map_nav_delay" default="15.0" /> 
    
    <!-- tf_broadcaster-->
	<node name="tf_broadcaster" pkg="crone" type="tf_broadcaster" output="screen" launch-prefix="bash -c 'sleep $(arg tf_broadcaster_delay); $0 $@' "/>

    <!-- tf_listener-->
	<node name="tf_listener" pkg="crone" type="tf_listener" output="screen"  launch-prefix="bash -c 'sleep $(arg tf_listener_delay); $0 $@' "/>

    <node name="mission" pkg="crone" type="mission" output="screen"/> 
    <node name="pose" pkg="crone" type="pose" output="screen"/>
    <!-- mission handler-->
	<node name="mission_handler" pkg="crone" type="mission_handler" output="screen" launch-prefix="bash -c 'sleep $(arg map_nav_delay); $0 $@' "/> 

    <!-- pose handler-->
	<node name="pose_handler" pkg="crone" type="pose_handler" output="screen" launch-prefix="bash -c 'sleep $(arg map_nav_delay); $0 $@' "/> 

    <!-- map_nav-->
	<node name="map_nav" pkg="crone" type="map_nav" output="screen"  launch-prefix="bash -c 'sleep $(arg map_nav_delay); $0 $@' "/>



</launch>
